name: DP Deploy AWS Clients
on:
  workflow_dispatch:
jobs:
  deploy:
    uses: nationalarchives/tdr-github-actions/.github/workflows/sbt_release.yml@5d4fee21ed08f053613a7706e28623c0adc0f5f4
    with:
      library-name: "AWS Clients"
    secrets:
      WORKFLOW_PAT: ${{ secrets.WORKFLOW_TOKEN }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
        with:
          fetch-depth: 0
      - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358
      - name: Update docs site
        run: |
          sbt 'docs / makeSite'
          git config --global user.email 181243999+tna-da-bot@users.noreply.github.com
          git config --global user.name tna-da-bot
          git checkout gh-pages
          rm -rf docs
          mkdir docs && cp -r site-docs/target/site/* docs
          git add docs
          git commit -m "Update site documentation"
          git push -u origin gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
