name: DP Run Tests
on:
  pull_request:
jobs:
  test:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - uses: scalacenter/sbt-dependency-submission@64084844d2b0a9b6c3765f33acde2fbe3f5ae7d3
      - uses: actions/dependency-review-action@595b5aeba73380359d98a5e087f648dbb0edce1b
      - name: Run tests
        run: sbt scalafmtCheckAll test
